


<%- include('adminHead') %>


  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="index.html"><img src="/assetsuser/img/logo.png" alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="/assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="/assetsadmin/images/faces/face15.jpg" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">Admin</h5>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="productmanagment" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">Product Managment</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="ordermanagment">
              <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
              </span>
              <span class="menu-title">Order Managment</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="categorymanagment">
              <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
              <span class="menu-title">Category Managment</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="usermanagment">
              <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
              </span>
              <span class="menu-title">User Managment</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="bannermanagment">
              <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
              </span>
              <span class="menu-title">Banner Managment</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="coupunmanagment" aria-expanded="false" aria-controls="auth">
              <span class="menu-icon">
                <i class="mdi mdi-security"></i>
              </span>
              <span class="menu-title">coupun Managment</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="salesReport" aria-expanded="false" aria-controls="auth">
              <span class="menu-icon">
                <i class="mdi mdi-security"></i>
              </span>
              <span class="menu-title">Sales Report</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/assets/images/logo-mini.svg" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <h3 style="color: rgb(126, 126, 126); padding-top:15px; ">Add banner</h3>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    <img class="img-xs rounded-circle" src="/assetsadmin/images/faces/face15.jpg" alt="">
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">Admin</p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="main-panel">
          <div class="content-wrapper">          
            
            <div class="container-scroller">
              <div class="container-fluid page-body-wrapper full-page-wrapper">
                <div class="row w-100 m-0">
                  <div class="content-wrapper full-page-wrapper d-flex align-items-center justify-content-center" style="background-color: #474464;">
                    <div  style="width:50vw; background-color: black;">
                      <div  style="width: 50vw; padding: 40px;">
                        <h3 class="card-title text-left mb-3">Add Banner</h3>
                        
                        <form id="addBannerForm" action="/admin/add-banner" method="post" enctype="multipart/form-data">

                          <div class="row">
                          
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Name</label>
                                      <input type="text" name="name" class="form-control p_input" required>
                                    </div>
                              </div>
                             


                                <div class="col-md-6">     
                                  <div class="form-group">
                                      <label>IMage</label>
                                      <input type="file" name="image" accept="image/*" class="form-control p_input" required>
                                    </div>
                                </div>

                               

                                <div class="col-md-12">     
                                  <div class="form-group">
                                      <label>Description</label>
                                     <input class="form-control p_input" name="description" form="addBannerForm" placeholder="Description" required></input>
                                    </div>
                                </div>
   
                          </div>
                        <div class="text-center">
                          <button type="submit" class="btn btn-primary btn-block enter-btn">Add</button>
                        </div>
                      </form>


                      </div>
                    </div>
                  </div>
                  <!-- content-wrapper ends -->
                </div>
                <!-- row ends -->
              </div>
              <!-- page-body-wrapper ends -->
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
      </body>



<%- include('footer') %>