\ <%- include('userHead') %>

<body style="background-color: rgb(22, 22, 22)">
  <div
    style="
      height: 95vh;
      width: 97vw;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <div
      class="container-fluid d-flex flex-column justify-content-center align-items-center login-main"
    >
      <form class="login-container" method="post" action="/change-password">
        <h2 style="color: aliceblue">Forgot Password</h2>
        <div class="mb-3">
          <label
            for="exampleInputEmail1"
            class="form-label"
            style="color: aliceblue"
            >New Password</label
          >
          <input
            type="password"
            class="form-control login-input"
            id="exampleInputEmail1"
            name="newpass"
            aria-describedby="emailHelp"
            required
          />
        </div>
        <div class="mb-3">
          <label
            for="exampleInputEmail1"
            class="form-label"
            style="color: aliceblue"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control login-input"
            id="exampleInputEmail1"
            name="cpass"
            aria-describedby="emailHelp"
            required
          />

          <% if(typeof message != 'undefined'){ %>
          <b style="color: rgb(250, 112, 112); margin-left: 0px"
            ><%= message %></b
          >
          <% } %>
        </div>
        <button type="submit" class="btn btn-primary login-btn">Submit</button>
        <div class="container d-flex justify-content-center"></div>
      </form>
    </div>
  </div>
</body>

<%- include('footer') %>
