<%- include('userHead') %>

<body>
  <!--::header part start::-->
  <header
    style="background-color: rgb(202, 202, 202)"
    class="main_menu home_menu"
  >
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg navbar-light">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span><i></i></span>
            </button>
            <img
              style="height: 40px; width: 40px; margin-bottom: 20px"
              src="/assetsuser/img/logo-removebg-preview.png"
              alt=""
            />
            <h4 style="font-family: Georgia, 'Times New Roman', Times, serif">
              P Mart
            </h4>

            <div
              class="collapse navbar-collapse main-menu-item"
              id="navbarSupportedContent"
            >
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/products">Products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">about</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>
              </ul>
            </div>

            <div class="hearer_icon d-flex align-items-center">
              <a href="/logout">
                <ion-icon
                  style="
                    height: 25px;
                    width: 25px;
                    margin-left: 30px;
                    margin-top: 2px;
                    color: black;
                  "
                  name="log-out-outline"
                ></ion-icon>
              </a>
              <a href="/cart">
                <ion-icon
                  style="
                    height: 25px;
                    width: 25px;
                    margin-left: 30px;
                    margin-top: 2px;
                    color: black;
                  "
                  name="cart-outline"
                ></ion-icon>
              </a>
              <a href="/profile">
                <ion-icon
                  style="
                    height: 25px;
                    width: 25px;
                    margin-left: 30px;
                    margin-top: 2px;
                    color: black;
                  "
                  name="person-circle-outline"
                ></ion-icon>
              </a>

              <a href="/whishlist">
                <ion-icon
                  style="
                    height: 25px;
                    width: 25px;
                    margin-left: 30px;
                    margin-top: 2px;
                    color: black;
                  "
                  name="heart-outline"
                ></ion-icon>
              </a>
              <span class="ml-1"> </span>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="search_input" id="search_input_box">
      <div class="container">
        <form class="d-flex justify-content-between search-inner">
          <input
            type="text"
            class="form-control"
            id="search_input"
            placeholder="Search Here"
          />
          <button type="submit" class="btn"></button>
          <span class="ti-close" id="close_search" title="Close Search"></span>
        </form>
      </div>
    </div>
  </header>
  <!-- Header part end-->

  <!-- breadcrumb part start-->
  <section class="breadcrumb_part">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner">
            <h2>contact</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb part end-->

  <!-- ================ contact section start ================= -->
  <section class="contact-section section_padding">
    <div class="container">
      <div class="d-none d-sm-block mb-5 pb-4">
        <div id="map" style="height: 480px"></div>
        <script>
          function initMap() {
            var uluru = {
              lat: -25.363,
              lng: 131.044,
            };
            var grayStyles = [
              {
                featureType: "all",
                stylers: [
                  {
                    saturation: -90,
                  },
                  {
                    lightness: 50,
                  },
                ],
              },
              {
                elementType: "labels.text.fill",
                stylers: [
                  {
                    color: "#ccdee9",
                  },
                ],
              },
            ];
            var map = new google.maps.Map(document.getElementById("map"), {
              center: {
                lat: -31.197,
                lng: 150.744,
              },
              zoom: 9,
              styles: grayStyles,
              scrollwheel: false,
            });
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&callback=initMap"></script>
      </div>

      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Get in Touch</h2>
        </div>
        <div class="col-lg-8">
          <form
            class="form-contact contact_form"
            action="contact_process.php"
            method="post"
            id="contactForm"
            novalidate="novalidate"
          >
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <textarea
                    class="form-control w-100"
                    name="message"
                    id="message"
                    cols="30"
                    rows="9"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter Message'"
                    placeholder="Enter Message"
                  ></textarea>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    name="name"
                    id="name"
                    type="text"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter your name'"
                    placeholder="Enter your name"
                  />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    name="email"
                    id="email"
                    type="email"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'"
                    placeholder="Enter email address"
                  />
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <input
                    class="form-control"
                    name="subject"
                    id="subject"
                    type="text"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter Subject'"
                    placeholder="Enter Subject"
                  />
                </div>
              </div>
            </div>
            <div class="form-group mt-3">
              <a href="#" class="btn_3 button-contactForm">Send Message</a>
            </div>
          </form>
        </div>
        <div class="col-lg-4">
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-home"></i></span>
            <div class="media-body">
              <h3>Buttonwood, California.</h3>
              <p>Rosemead, CA 91770</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
            <div class="media-body">
              <h3>00 (440) 9865 562</h3>
              <p>Mon to Fri 9am to 6pm</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-email"></i></span>
            <div class="media-body">
              <h3>support@colorlib.com</h3>
              <p>Send us your query anytime!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ contact section end ================= -->

  <!--::footer_part start::-->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer__about">
            <div style="display: flex;flex-direction: row;align-items: center;" class="footer__logo">
              <img
              style="height: 40px; width: 40px; margin-bottom: 20px"
              src="/assetsuser/img/logo-removebg-preview.png"
              alt=""
            />
            <h4 style="font-family: Georgia, 'Times New Roman', Times, serif;color: aliceblue;">
              P Mart
            </h4>
            </div>
            <p>
              The customer is at the heart of our unique business model, which
              includes design.
            </p>
            <a href="#"
              ><img src="/assestsmalefashion/img/payment.png" alt=""
            /></a>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-1 col-md-3 col-sm-6">
          <div class="footer__widget">
            <h6>Shopping</h6>
            <ul>
              <li><a href="#">perfums</a></li>
              <li><a href="#">Trending </a></li>

              <li><a href="#">Sale</a></li>
              <li><a href="#">Sale</a></li>
            </ul>
          </div>
        </div>
        
        <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
          <div class="footer__widget">
            <h6>NewLetter</h6>
            <div class="footer__newslatter">
              <p>
                Be the first to know about new arrivals, look books, sales &
                promos!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="footer__copyright__text">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <p>
              | Copyright ©
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved |
            </p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--::footer_part end::-->

  <!-- jquery plugins here-->
  <script src="/assetsuser/js/jquery-1.12.1.min.js"></script>
  <!-- popper js -->
  <script src="/assetsuser/js/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="/assetsuser/js/bootstrap.min.js"></script>
  <!-- easing js -->
  <script src="/assetsuser/js/jquery.magnific-popup.js"></script>
  <!-- swiper js -->
  <script src="/assetsuser/js/swiper.min.js"></script>
  <!-- swiper js -->
  <script src="/assetsuser/js/mixitup.min.js"></script>
  <!-- particles js -->
  <script src="/assetsuser/js/owl.carousel.min.js"></script>
  <script src="/assetsuser/js/jquery.nice-select.min.js"></script>
  <!-- slick js -->
  <script src="/assetsuser/js/slick.min.js"></script>
  <script src="/assetsuser/js/jquery.counterup.min.js"></script>
  <script src="/assetsuser/js/waypoints.min.js"></script>
  <script src="/assetsuser/js/contact.js"></script>
  <script src="/assetsuser/js/jquery.ajaxchimp.min.js"></script>
  <script src="/assetsuser/js/jquery.form.js"></script>
  <script src="/assetsuser/js/jquery.validate.min.js"></script>
  <script src="/assetsuser/js/mail-script.js"></script>
  <!-- custom js -->
  <script src="/assetsuser/js/custom.js"></script>
</body>

<%- include('footer') %>
