<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>P-Mart</title>
    <meta name="description" content="Male_Fashion Template" />
    <meta name="keywords" content="Male_Fashion, unica, creative, html" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!----------------------------ashion Css Styles ---------------------------------->

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link
      rel="stylesheet"
      href="/assestsashion/css/bootstrap.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/assestsashion/css/font-awesome.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/assestsashion/css/elegant-icons.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/assestsashion/css/jquery-ui.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/assestsashion/css/magnific-popup.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/assestsashion/css/owl.carousel.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/assestsashion/css/slicknav.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/assestsashion/css/style.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/assetsuser/css/404.css" type="text/css" />

    <!-------------------------male fashion Css Styles ---------------------->
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="/assestsmalefashion/css/bootstrap.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/assestsmalefashion/css/font-awesome.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/assestsmalefashion/css/elegant-icons.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/assestsmalefashion/css/magnific-popup.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/assestsmalefashion/css/nice-select.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/assestsmalefashion/css/owl.carousel.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/assestsmalefashion/css/slicknav.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/assestsmalefashion/css/style.css"
      type="text/css"
    />

    <link rel="icon" href="/assetsuser/img/favicon.png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assetsuser/css/bootstrap.min.css" />
    <!-- animate CSS -->
    <link rel="stylesheet" href="/assetsuser/css/animate.css" />
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/assetsuser/css/owl.carousel.min.css" />
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/assetsuser/css/all.css" />
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/assetsuser/css/flaticon.css" />
    <link rel="stylesheet" href="/assetsuser/css/themify-icons.css" />
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/assetsuser/css/magnific-popup.css" />
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/assetsuser/css/slick.css" />
    <!-- style CSS -->
    <link rel="stylesheet" href="/assetsuser/css/style.css" />
    <!-- otp CSS -->
    <link rel="stylesheet" href="/assetsuser/css/otp.css" />
    <link rel="stylesheet" href="/assetsuser/css/whishlist.css" />

<!-------------------------eiser Css Styles ---------------------->

    <link rel="stylesheet" href="/assetseiser/css/bootstrap.css" />
    <link rel="stylesheet" href="/assetseiser/vendors/linericon/style.css" />
    <link rel="stylesheet" href="/assetseiser/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assetseiser/css/themify-icons.css" />
    <link rel="stylesheet" href="/assetseiser/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="/assetseiser/vendors/lightbox/simpleLightbox.css" />
    <link rel="stylesheet" href="/assetseiser/vendors/nice-select/css/nice-select.css" />
    <link rel="stylesheet" href="/assetseiser/vendors/animate-css/animate.css" />
    <link rel="stylesheet" href="/assetseiser/vendors/jquery-ui/jquery-ui.css" />
    <!-- main css -->
    <link rel="stylesheet" href="/assetseiser/css/style.css" />
    <link rel="stylesheet" href="/assetseiser/css/responsive.css" />
  </head>
</html>
