.login-input,
.login-btn {
  height: 50px;
}
.login-input {
  background-color: rgba(136, 136, 136, 0.178);
  border: none;
  color: white;
}
.login-input:focus {
  background-color: rgba(0, 0, 0, 0.322);
  color: white;
}
.login-main {
  background-image: url('/img/_28_dark-server-wallpaper_2382764793333333333333.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.login-container {
  border-radius: 20px;
  width: 40%;
  color: white;
  padding: 30px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px 0px rgba(98, 98, 98, 0.435);
  margin-top: 30px;
}
.login-main h2 {
  margin-bottom: 50px;
  text-align: center;
}
.login-btn {
  width: 100%;
  background-color: #020203;
  border: none;
}
.login-btn:hover {
  background-color: #030100;
}
input:disabled{
  background-color: #ffffff2c !important;
  color: rgba(255, 255, 255, 0.301);
}
@media screen and (max-width:600px) {
  .login-container{
    width: 90%;
  }
  .loginForm{
    margin-left: -50px;
  }
}